/* 
--primary-color: #ffffff;
--secondary-color: #2E2F42;
--text-color: #434455;
--secondary-text-color: #F4F4FD;
--accent-color: #4D5AE5;
--secondary-accent-color: #E7E9FC;
*/

:root {
    --primary-color: #ffffff;
    --secondary-color: #2E2F42;
    --text-color: #434455;
    --secondary-text-color: #F4F4FD;
    --accent-color: #4D5AE5;
    --secondary-accent-color: #E7E9FC;
}


*,
*::after,
*::before {
    /*box model*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    background-color: var(--primary-color);
}

.container {
    max-width: 1158px;
    margin: 0 auto;
}

.grey {
    background-color: var(--secondary-text-color);
}


/* ------------------ logo style ------------------ */

.logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    text-decoration: none;
}

.logo.footer {
    color: var(--light-text-color);
}

.logo-accent {
    color: var(--accent-color);
}



/* ------------------ links ------------------ */

.link {
    text-decoration: none;
    color: var(--text-color);
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.nav-link {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-color);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--text-color);
}

.nav-link:active,
.contact.link:hover,
.contact.link:focus {
    color: var(--accent-color);
}



/* ------------------ headers ------------------ */

.header {
    font-weight: 500;
    color: var(--secondary-color);
    
}

.section-header {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.list.header {
    font-size: 20px;
    line-height: 1.2;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}



/* ------------------ nav menu ------------------ */

.nav-wrapper {
    /* drop-shadow */
}

.nav-block {
    display: flex;
    justify-content: space-between;
}

.nav-menu,
.nav-item {
    display: inline-block;
}


/* ------------------ hero section ------------------ */

.hero {
    text-align: center;

    background-color: var(--secondary-color);
}

.hero.header {
    font-weight: 500;
    font-size: 56px;
    line-height: 1.07;
    color: var(--primary-color);
}



/* -----------------content section ----------------- */

.section-header {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;   
    color: var(--secondary-color);
    text-align: center;
}

.content.list {
    display: flex;
    justify-content: space-between;
}


/* ------------------ list classes ------------------ */

.list {
    list-style-type: none;
}

.list.team{
    text-align: center;

    background-color: var(--primary-color);
}

.team-list {
    text-align: center;
}

.list-box {
    background-color: var(--primary-color);
}


.team-list {
    border-radius: 0 0 4px 4px;
}


/* ------------------ portfolio gallery ------------------ */

.portfolio.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.portfolio-item {
    color: var(--text-color);
    text-decoration: none;
}

.filter-btn-wrapper {
    /* box model */
}

.filter-btn-item {
    display: inline;
}



/* ------------------ buttons ------------------ */

.order-button {
    width: 170px;
    height: 51px;

    font-family: inherit; /*important*/
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.04em;
    color: var(--primary-color);
    
    background-color: var(--accent-color); 
    border-style: none;
    border-radius: 4px;
    
    cursor: pointer;
}

.order-button:hover,
.order-button:focus {
    color: var(--primary-color);

    background-color: var(--accent-color);
}

.order-button:active {
    background-color: #404BBF;
}

.filter-button { 
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.28;
    color: var(--accent-color);
    
    background-color: var(--secondary-text-color);
    border: 1px solid var(--secondary-accent-color);
    border-radius: 4px;

    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--secondary-text-color);

    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
}



/* ------------------ footer ------------------ */

.footer {
    color: var(--secondary-accent-color);

    background-color: var(--secondary-color);
}